<div style="margin: 20px; background-color: #fff;">


    Hi {{ user.username }},
    Your order has been placed successfully using {{ order.paymentMethod }} digital payment.

    Following prices are included in the products price:

    Tax Price : {{order.taxPrice}}
    Shipping Price : {{order.shippingPrice}}

    So, Grand Total Price : {{order.totalPrice}}

    Order will reach to you in 2-5 days.

    We have attached the invoice for your order with this mail.

    Thanks for trusting us and using our services !

    Sincerely,
    EcommerceApp Team


</div>